*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content:space-around;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 1px 1px 4px grey;
}

.weather__degree{
    display: flex;
    margin: 10px 0;
}

.weather__degree-item{
    font-size: 40px;
    font-weight: 500;
}

.weather__discription{
    display: inline-block;
    margin-bottom: 5px;
}
.weather__discription::first-letter{
    text-transform: uppercase;
}