.aside-nav {
  margin: auto;
  padding: 10px 20px;
}

.aside-nav__item {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding: 5px 10px;
  color: white;
}

.aside-nav__item:not(:last-of-type) {
  margin-bottom: 10px;
}

.aside-nav__item:hover {
  color: #c1b0fd;
}
