.weather .weather {
    &__degree {
        display: flex;
        margin: 10px 0;
    }

    &__degree-item {
        font-size: 40px;
        font-weight: 500;
    }

    &__discription {
        display: inline-block;
        margin-bottom: 5px;

        &::first-letter {
            text-transform: uppercase;
        }
    }
}