:after,:before,* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.wrapper{
    max-width: 1440px;
    margin: auto;
    margin-top: 50px;
}

.slider{
    position: relative;
    overflow: hidden;
    width: 900px;
    height: 600px;
    margin: auto;    
}

.slider__image{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 900px;
    height: 600px;
}

.button{
    cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 0;
    width: 10%;
    height: 100%;
    background-color: rgba(128,128,128,.3);
    color: rgba(250, 250, 250, 0.753);
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    text-align: center;
    font-size: 46px;
}

.button p{
    writing-mode: vertical-rl;
    text-orientation:upright;
    margin: auto;
}

.button__prev{
    left: 0; 
}

.button__next{
    right: 0;
}

.slider-line {
    position: relative;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    margin-top: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-line__item{
    padding: 21px 0px;
    margin: 0 12px;
    cursor: pointer;
}

.slider-line__item span{ 
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: grey;
}

.slider-line__item:hover span {
    background: #000;
}

.slider-line__item.js-active-line span {
    background: red;
}

.js-anim {
    transition: .6s ease transform;
    z-index: 4;
}
